extends layout/layout

block content
  .col-lg-12
    ul#tabs.nav.nav-tabs(role="tablist")
      li.active(role="presentation")
        a(href="#www01", aria-controls="www01", role="tab", data-toggle="tab") www01
      li(role="presentation")
        a(href="#www02", aria-controls="www02", role="tab", data-toggle="tab") www02
      li(role="presentation")
        a(href="#www03", aria-controls="www03", role="tab", data-toggle="tab") www03
      li(role="presentation")
        a(href="#www04", aria-controls="www04", role="tab", data-toggle="tab") www04
      li(role="presentation")
        a(href="#www05", aria-controls="www05", role="tab", data-toggle="tab") www05
      li(role="presentation")
        a(href="#www06", aria-controls="www06", role="tab", data-toggle="tab") www06
      li(role="presentation")
        a(href="#www07", aria-controls="www07", role="tab", data-toggle="tab") www07
      li(role="presentation")
        a(href="#www08", aria-controls="www08", role="tab", data-toggle="tab") www08
      li(role="presentation")
        a(href="#www09", aria-controls="www09", role="tab", data-toggle="tab") www09
      li(role="presentation")
        a(href="#www10", aria-controls="www10", role="tab", data-toggle="tab") www10
      li(role="presentation")
        a(href="#www11", aria-controls="www11", role="tab", data-toggle="tab") www11
      li(role="presentation")
        a(href="#www12", aria-controls="www12", role="tab", data-toggle="tab") www12

    .panel.panel-default
      .panel-body
        .tab-content
          .tab-pane.active#www01
            pre#container-www01(style="min-height: 600px;")
          .tab-pane#www02
            pre#container-www02(style="min-height: 600px;")
          .tab-pane#www03
            pre#container-www03(style="min-height: 600px;")
          .tab-pane#www04
            pre#container-www04(style="min-height: 600px;")
          .tab-pane#www05
            pre#container-www05(style="min-height: 600px;")
          .tab-pane#www06
            pre#container-www06(style="min-height: 600px;")
          .tab-pane#www07
            pre#container-www07(style="min-height: 600px;")
          .tab-pane#www08
            pre#container-www08(style="min-height: 600px;")
          .tab-pane#www09
            pre#container-www09(style="min-height: 600px;")
          .tab-pane#www10
            pre#container-www10(style="min-height: 600px;")
          .tab-pane#www11
            pre#container-www11(style="min-height: 600px;")
          .tab-pane#www12
            pre#container-www12(style="min-height: 600px;")

        .row
          .col-lg-6
            i.fa.fa-spinner.fa-spin
          .col-lg-6.text-right
            button#clearBtn.btn.btn-default.btn-sm
              span.glyphicon.glyphicon-repeat
              | &nbsp; Clear
