ul#tabs.nav.nav-tabs.server-tabs(role="tablist")
  li.active(role="presentation")
    a(href="#www01", aria-controls="www01", role="tab", data-toggle="tab") www01 
      span.badge.badge-info#badge-www01
  li(role="presentation")
    a(href="#www02", aria-controls="www02", role="tab", data-toggle="tab") www02 
      span.badge.badge-info#badge-www02
  li(role="presentation")
    a(href="#www03", aria-controls="www03", role="tab", data-toggle="tab") www03 
      span.badge.badge-info#badge-www03
  li(role="presentation")
    a(href="#www04", aria-controls="www04", role="tab", data-toggle="tab") www04 
      span.badge.badge-info#badge-www04
  li(role="presentation")
    a(href="#www05", aria-controls="www05", role="tab", data-toggle="tab") www05 
      span.badge.badge-info#badge-www05
  li(role="presentation")
    a(href="#www06", aria-controls="www06", role="tab", data-toggle="tab") www06 
      span.badge.badge-info#badge-www06
  li(role="presentation")
    a(href="#www07", aria-controls="www07", role="tab", data-toggle="tab") www07 
      span.badge.badge-info#badge-www07
  li(role="presentation")
    a(href="#www08", aria-controls="www08", role="tab", data-toggle="tab") www08 
      span.badge.badge-info#badge-www08
  li(role="presentation")
    a(href="#www09", aria-controls="www09", role="tab", data-toggle="tab") www09 
      span.badge.badge-info#badge-www09
  li(role="presentation")
    a(href="#www10", aria-controls="www10", role="tab", data-toggle="tab") www10 
      span.badge.badge-info#badge-www10
  li(role="presentation")
    a(href="#www11", aria-controls="www11", role="tab", data-toggle="tab") www11 
      span.badge.badge-info#badge-www11
  li(role="presentation")
    a(href="#www12", aria-controls="www12", role="tab", data-toggle="tab") www12 
      span.badge.badge-info#badge-www12

.panel.panel-default.log-panel
  .panel-body
    .tab-content
      .tab-pane.active#www01
        pre#container-www01
      .tab-pane#www02
        pre#container-www02
      .tab-pane#www03
        pre#container-www03
      .tab-pane#www04
        pre#container-www04
      .tab-pane#www05
        pre#container-www05
      .tab-pane#www06
        pre#container-www06
      .tab-pane#www07
        pre#container-www07
      .tab-pane#www08
        pre#container-www08
      .tab-pane#www09
        pre#container-www09
      .tab-pane#www10
        pre#container-www10
      .tab-pane#www11
        pre#container-www11
      .tab-pane#www12
        pre#container-www12

    .row
      .col-lg-6
        i.fa.fa-spinner.fa-spin
      .col-lg-6.text-right
        button#clearBtn.btn.btn-default.btn-sm
          span.glyphicon.glyphicon-repeat
          | &nbsp; Clear
