body {
  padding-top: 51px;
}

#logo {
	margin-top: -7px; 
	display: inline; 
	margin-right: 5px;
}

.server-tabs > li > a {
  padding: 6px 10px;
}

.panel-body {
  overflow-y: scroll;
}

.tab-content pre {
  min-height: 465px;
  white-space: pre-wrap;
}

.tab-content pre .label {
  font-size: 100% !important;
}

.server-tabs {
	position: fixed;
	background-color: #fff;
}

.log-panel {
	padding-top: 35px;
}

.badge-info {
  background-color: #3a87ad;
}
.badge-highlight {
  background-color: #2d6987;
  font-size: 120%;
}
