body {
  padding-top: 51px;
}

#logo {
	margin-top: -7px; 
	display: inline; 
	margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
}

.tab-content pre {
  min-height: 465px;
}

.tab-content pre .label {
  font-size: 100% !important;
}

.server-tabs {
	position: fixed;
	background-color: #fff;
}

.log-panel {
	padding-top: 35px;
}

