head
	block head
		block title
			title Log Viewer
		block meta
			meta(name='description', content='log viewer')
			meta(name='keywords', content='log viewer')
			meta(name='viewport', content='initial-scale=1, minimum-scale=1, width=device-width')
		link(rel='icon', href='favicon.ico')
		link(rel='stylesheet', href='/css/logviewer.css')
		block styles
