.navbar-header
	button(class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse")
		span.iron-bar
		span.iron-bar
		span.iron-bar
	a(class="navbar-brand" href="/") Log Viewer

form.navbar-form.navbar-right(role="search")
	.form-group
		input.form-control(type="text", placeholder="Not implemented yet...")
		button.btn.btn-default(type="button") Search