.navbar-header
	a(class="navbar-brand" href="/")
		img(src="/img/logo.png" style="margin-top: -7px; display: inline; margin-right: 5px;")
		b Log Viewer

	ul.nav.navbar-nav.sites
		li.active
			a(href="javascript:void(0);" data-site="www") WWW
		li
			a(href="javascript:void(0);" data-site="bsd") BSD

form.navbar-form.navbar-right(role="search")
	.form-group
		input.form-control(type="text", placeholder="Not implemented yet...")
		button.btn.btn-default(type="button") Search