@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "/bower/bootstrap-daterangepicker/daterangepicker.css";

body {
  padding-top: 51px;
}

#logo {
	margin-top: -7px; 
	display: inline; 
	margin-right: 5px;
}

@for $size from 0 through 6 {
  .control-#{200 + $size*50} {
    width: #{200 + $size*50}px !important;
  }
}

.server-tabs {
  > li {
    > a {
      padding: 6px 10px;
    }
  }
}

.panel-body {
  overflow-y: scroll;
}

.tab-content {
  pre {
    min-height: 465px;
    white-space: pre-wrap;
    .label {
      font-size: 100% !important;
    }
  }
}

.server-tabs {
	position: fixed;
	background-color: #fff;
}

.log-panel {
	padding-top: 35px;
}

$badge-olor: #3a87ad;
.badge-info {
  background-color: $badge-olor;
}
.badge-highlight {
  background-color: darken($badge-olor, 25%);
}
